/* 1.Bagian Home*/
/*Desain NavBar*/
.menu{
    background-color: #333;
    overflow: hidden;
}

.menu a{
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-size: 18px;
}

.menu a:hover{
    background-color: #ddd;
    color: black;
}

.menu a.active{
    background-color: #4caf50;
    color: white;
}

.menu a.logo{
    float: left;
    padding: 10px;
}

/*Desain content*/
.content{
    float: none;
    text-align: center;
    background-color: white;
}

/*2. Bagian About*/
.wrapper p{
    float: left;
    text-align: justify;
    background: #f9f9f9;
    border: 1px solid #c1c1c1;
    margin: 10px;
    padding: 10px;
    width: 400px;
    
}

/*3. Bagian Galeri*/
.foto{
    text-align: center;
    
}

/*4. Bagian Contact*/
/*.kontak{
    

}*/
* {
    box-sizing: border-box;
  }
  
  form {
    padding: 1em;
    background: #f9f9f9;
    border: 1px solid #c1c1c1;
    margin-top: 2rem;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
  }
  form input {
    margin-bottom: 1rem;
    background: #fff;
    border: 1px solid #9c9c9c;
  }
  form button {
    background: lightgrey;
    padding: 0.7em;
    border: 0;
  }
  form button:hover {
    background: #4caf50;
  }
  
  label {
    text-align: right;
    display: block;
    padding: 0.5em 1.5em 0.5em 0;
  }
  
  input {
    width: 100%;
    padding: 0.7em;
    margin-bottom: 0.5rem;
  }
  input:focus {
    outline: 3px solid #4caf50;
  }
  
  @media (min-width: 400px) {
    form {
      overflow: hidden;
    }
  
    label {
      float: left;
      width: 200px;
    }
  
    input {
      float: left;
      width: calc(100% - 200px);
    }
  
    button {
      float: right;
      width: calc(100% - 200px);
    }
  }